header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    background-color: #0b698b;

}

.form-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 60px;
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 40%;
    background-color: #0b698b;
    font-size: 12px;
}
.login h2 {
    color: #fff;
    font-size: 15px;
    margin-bottom: 9px;
    
}
.sign {
    background-color: #97cbdc;
    align-items: center;
    padding: 10px;
    width: 45%;
    font-size: 12px;
}

button {
    color: rgb(30, 35, 108);
    text-align: left;
    font-size: 10px;
    margin-bottom: 8px;
    background-color: rgb(156, 205, 205);

}