*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(245, 245, 245, 1); 
}

.modal-header {
    background-color: rgba(120, 166, 200, 1);
}

.modal-content {
background-color: rgb(49, 103, 137, 1);
}

.log {
    background-color: rgba(120, 166, 200, 1);
    color: black; 
}
.logcancel {
    background-color: rgba(120, 166, 200, 1);
    color: black;
}

/* ---------------------Footer------------------- */

.padre {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hijo {
    background-color: white;
    display: flex;
    justify-content: center;
}

.divis {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 20px;
}


.final {
    background-color:white;
    display: flex;
    justify-content: center;
    padding: 20px;
}


/* -------------Botones de Tarea----------------- */
.botones {
    background-color: rgba(49, 103, 137, 1);
}


.cajaBoton {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.cajaBotoncitos {
    background-color: rgb(49, 103, 137, 1);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 10px, 10px, 50px;
    color: white;
    width: 200px;
    margin: 10px 60px 10px 10px;
}

.cajaBotoncitos a {
    margin: 7px 15px 7px 15px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.cajaBotoncitos a:hover a:visited, a:link, a:active {
    text-decoration: none;
}

/* ----------------Resposive-------------------- */

@media screen and (max-width: 600px) {
    .cajaBoton {
        background-color: rgb(31, 10, 51);
        border: solid black 1px;
        display: flex;
        justify-content: center;
    }
    
    .cajaBotoncitos {
        background-color: rgb(49, 103, 137, 1);
        border: solid black 1px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        font-size: 10px;
        color: white;
        margin: 10px;
    }
    
    .cajaBotoncitos a {
        margin-left: 20px;
        margin-right: 20px;
        text-decoration: none;
        color: white;
        text-align: center;
    }
}
